<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="Rows" value="25"/>
    <add key="Columns" value="50"/>
    <add key="GenNumber" value="5"/>
  </appSettings>
</configuration>